[Unit]
Description=Gexec Runner
Documentation=https://gexec.eu

Requires=network.target
After=network.target

[Service]
Type=simple
User=gexec
Group=gexec
EnvironmentFile=-/etc/default/gexec-runner
EnvironmentFile=-/etc/sysconfig/gexec-runner
ExecStart=/usr/bin/gexec-runner start $GEXEC_RUNNER_ARGS
WorkingDirectory=/var/lib/gexec
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
