[Unit]
Description=Gexec Runner
Documentation=https://gexec.eu
Documentation=man:gexec-runner --help

Requires=network.target
After=network.target syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/gexec-runner
User=gexec
Group=gexec
ExecStart=/usr/bin/gexec-runner start $GEXEC_RUNNER_ARGS
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
