---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: binaries

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*

permissions:
  contents: write
  packages: write

jobs:
  binaries:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure aws
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Setup task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup goreleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          install-only: true

      - name: Setup signing
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}

      - name: Run release
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            task build:release
          else
            task build:snapshot
          fi

      - name: Upload version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          aws s3 sync --exclude "*" --include "gexec-server-*" dist s3://dl.gexec.eu/server/${{ github.ref_name }}/
          aws s3 sync --exclude "*" --include "gexec-runner-*" dist s3://dl.gexec.eu/runner/${{ github.ref_name }}/
          aws s3 sync --exclude "*" --include "gexec-client-*" dist s3://dl.gexec.eu/client/${{ github.ref_name }}/

      - name: Upload testing
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          aws s3 sync --exclude "*" --include "gexec-server-*" dist s3://dl.gexec.eu/server/testing/
          aws s3 sync --exclude "*" --include "gexec-runner-*" dist s3://dl.gexec.eu/runner/testing/
          aws s3 sync --exclude "*" --include "gexec-client-*" dist s3://dl.gexec.eu/client/testing/

      - name: Install cloudsmith
        if: startsWith(github.ref, 'refs/tags/')
        uses: cloudsmith-io/cloudsmith-cli-action@v2.0.2
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}

      - name: Upload packages
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          for PACKAGE in dist/gexec-*.deb; do
            cloudsmith push deb gexec/general/any-distro/any-version "${PACKAGE}"
          done

          for PACKAGE in dist/gexec-*.rpm; do
            cloudsmith push rpm gexec/general/any-distro/any-version "${PACKAGE}"
          done

...
